body{
    padding: 0;
    margin: 0;
    max-height: 100vh;
}

.hero, .info, .quote {
    padding: 16px 108px 80px 108px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

.main{
    display: flex;
}

.main div{
    flex: auto;
}

.header div{
    color: #f9faf8;
    font-size: 24px;
}

.text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.secondary, a {
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder {
    text-align: center;
    padding: 60px 0;
    height: auto;
    width: 1000px;
    background-color: #6D747D;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    padding: 5px 18px;
    border-radius: 8px;
    border: 2px solid #f9faf8;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    /* margin: 32px; */
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.cards div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 15px;
}

.box-text {
    width: 150px;
}

.quote {
    background-color: #e5e7eb;
    padding: 108px;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.credits {
    align-self: flex-end;
    font-weight: 900;
}

.action {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 32px;
    margin: 96px;
    color: #f9faf8;
    border-radius: 15px;
}

.action-head {
    font-weight: 900;
}
